<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="Connect_String"
      connectionString="Server=ARFSQL-FTL;Database=ARF_Production;User Id=arfservice;Password=l1l@b0c;"/>
  </connectionStrings>
</configuration>
